.reset-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.form-container {
  width: 50%;
  color: black;
}

.form-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: justify;
}

.form-container input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
  border-radius: 15px;
  font-weight: bold;
}

.form-container button {
  width: 120px;
  font-size: 1em;
  background-color: #d1a7a7;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  align-content: center;
}

.image-container {
  width: 50%;
  text-align: center;
  background-color: black;
  border-radius: 15px;
}

.brand-info {   
  margin-bottom: 20px;
}

.brand-info h2 {
  font-size: 3em;
  margin-bottom: 10px;
  font-weight: bolder;
  color: white;
}

.brand-info p {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

.image-container img {
  max-width: 300px;
  height: auto;
  margin-left: 60px;
}
