.home-container {
    background-image: url('../assets/background-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Toma todo el alto de la ventana */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-content {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
    padding: 40px;
    border-radius: 12px;
  }
  