.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: none; /* Sin relieve */

}


.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end; /* Alinea todo a la derecha */
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  
}

.news-section {
  /* Otros estilos que ya tengas */
  margin-top: 60px; 
}
.logo {
  color: #040203;
  font-size: 24px;
  font-weight: bold;
  margin-right: auto; 
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 800;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #000000;
}

.login-btn a {
  text-decoration: none;
  background-color: #e91e63;
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.login-btn a:hover {
  background-color: #000000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: height 0.3s ease;
  }

  .nav-links.open {
    height: 250px; /* Ajusta según cuántos links tengas */
  }
}
