.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: 'Raleway', sans-serif; 
}


.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  
}

.news-section {
  /* Otros estilos que ya tengas */
  margin-top: 60px; /* Ajusta este valor según la altura de tu barra de navegación */
}
.logo {
  color: #040203;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 800;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #000000;
}

.login-btn a {
  text-decoration: none;
  background-color: #e91e63;
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.login-btn a:hover {
  background-color: #000000;
}
