.recover-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;  
    align-items: center;     
    padding-top: 40px;        
  }
  
  .recover-left-container {
    background-color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;  
    max-width: 400px; 
    border-radius: 10px; 
  }
  
  .recover-left-container h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .recover-left-container p {
    font-size: 0.9rem;
    color: #d48c8c;
    margin-bottom: 1rem;
    text-align: justify;
  }
  
  .recover-left-container input {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #e2e2e2;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 100%; 
    max-width: 250px; 
  }
  
  .recover-left-container button {
    background-color: #7489dc;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;  
    max-width: 250px; 
    padding: 1rem;
  }
  
  .recover-left-container button:hover {
    background-color: #5c72c8;
  }
  
  .recover-right-container {
    background-color: black;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 400px;
    height: 540px;
    margin-top: 40px;
  }
  
  .logo-section h1 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color: white;
  }
  
  .logo-section p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
  }
  
  .image-section img {
    width: 200px;
    height: 200px;
  }
  
  @media (max-width: 768px) {
    .recover-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .recover-left-container {
      width: 100%;
      max-width: none;
      padding: 20px;
      height: auto; 
      margin-bottom: 20px;
    }
  
    .recover-left-container input {
      width: 100%;  
    }
  
    .recover-left-container button {
      width: 100%; 
    }
  }
  